<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%cyan(%d{HH:mm:ss.SSS})] %-19(%highlight([%level])) %magenta([%logger{}]) %cyan(\(%file:%line\):) %highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <root level="warn"><appender-ref ref="console"/></root>

    <logger name="io.mockk.impl.recording.states" level="info" additivity="false"><appender-ref ref="console"/></logger>
    <logger name="Exposed" level="debug" additivity="false"><appender-ref ref="console"/></logger>

</configuration>